{% extends 'base.html' %}
{% block content %}

<h1>return f"{snippet_detail}"</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ snippet.language }}</span>
        <p>Type: {{ snippet.type }}</p>
        <p>Category: {{ snippet.category }}</p>
        <p>Description: {{ snippet.description }} </p>
      </div>
      <div class="card-action">
        <a href="">Edit</a>
        <a href="">Delete</a>
      </div>
    </div>
  </div>
  <div class="col s6">
    <table class="striped">
      <form action="{% url 'usage_counter' snippet.id %}" method="post">
        {% csrf_token %}
        {{ usage_form.as_p }}
        <input type="submit" class="btn" value="Add Usage Log">
      </form>
      <thead>
        <tr><th>Date</th><th>Type of Project</th></tr>
      </thead>
      <tbody>
        {% for usage in snippet.usagecounter_set.all %}
          <tr>
            <td>{{usage.date}}</td>
            <td>{{usage.type}}</td>
          </tr>
        {% endfor %}
      <script>
          var dateEl = document.getElementById('id_date');
          M.Datepicker.init(dateEl, {
            format: 'yyyy-mm-dd',
            defaultDate: new Date(),
            setDefaultDate: true,
            autoClose: true
          });
          var selectEl = document.getElementById('id_type');
          M.FormSelect.init(selectEl);
      </script>
      </tbody>
    </table>
  </div>
</div>


{% endblock %}